<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Cliente</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/clientes.css">
</head>

<body>
    <header>
        <button onclick="location.href='zona.html'" class="back-button">Volver</button>
        <h1>Seleccionar Cliente</h1>
    </header>
    <div class="container">
        <div id="clienteContainer"></div>
    </div>
    <script src="/js/clientes.js"></script>
</body>
</html>
