<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Grupo de Familia</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/familias.css">
</head>

<body>
    <header>
        <button onclick="location.href='marcas.html'" class="back-button">Volver</button>
        <h1>Seleccionar Grupo de Familia</h1>
    </header>
    <div class="container">
        <div id="familiaContainer"></div>
    </div>
    <script src="/js/familias.js"></script>
</body>
</html>
