<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/index.css">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="assets/images/logo.png" alt="Logo">
        </div>
        <div class="button-container">
            <button onclick="location.href='views/login.html'">INGRESAR</button>
        </div>
    </div>
</body>
</html>