<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Marca</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/marcas.css">
</head>

<body>
    <header>
    <button onclick="location.href='zona.html'" class="back-button">Volver</button>
    <h1>Seleccionar Marca</h1>
    </header>
    <div class="container">
        <div id="marcaContainer"></div>
    </div>
    <script src="/js/marcas.js"></script>
</body>
</html>
