<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/zona.css">
</head>
<body>
    <header>
    <button onclick="location.href='main_menu.html'" class="back-button">Volver</button>
    <h1>Seleccionar Zona</h1>
    </header>
    <div class="container">
        <div id="zonaContainer"></div>
    </div>
    <script src="/js/zona.js"></script>
</body>
</html>
